<link rel="stylesheet" type="text/css" href="/css/main.css">

<body layout="column">
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-raised md-primary" ng-click="toggleSidenav('left')">
            <md-icon aria-label="Menu"
                     md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg"></md-icon>
        </md-button>
        <img class="cv-logo" src="img/logo.png" alt="logo"/>

        <h1> Groups </h1>
    </div>
</md-toolbar>
<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <h1>Current Groups</h1>
    </md-sidenav>
    <div layout="column" flex id="content">
        <md-content layout="column" layout-padding flex class="md-padding">
            <h2>Current Groups</h2>

            <form name="userForm">
                <div layout>
                    <md-input-container flex>
                        <label>Search for a group!</label>
                        <input type="text" ng-model="searchInput">
                    </md-input-container>
                </div>
            </form>

            <!-- Uncomment this line to test value of searchInput -->
            <!-- <p>{{searchInput}}</p> -->

            <md-grid-list md-cols-gt-md="4" md-cols-sm="3" md-cols-md="3"
                          md-row-height-gt-md="310px" md-row-height="310px"
                    >
                <md-grid-tile ng-repeat="group in allGroups|filter:searchInput">
                    <div flex>
                        <md-card>

                            <md-card-content>
                                <h2 class="md-title">{{group.name }}</h2>

                                <h4>Group Type: </h4>

                                <span>{{group.type}}</span>

                                <h4>Group Description:</h4>

                                <span>{{group.description}}</span>
                            </md-card-content>
                            <div class="md-actions" layout="row" layout-align="end center">
                                <md-button ng-click="joinGroup(group.name)" class="md-raised md-primary buttonLarge">Join Group</md-button>
                            </div>
                        </md-card>
                    </div>
                </md-grid-tile>
            </md-grid-list>


            <div ng-show="userGroups.length!=0">
                <h2>User Groups </h2>

                <div ng-repeat="group in userGroups|filter:searchInput" ng-init="group.show = false">
                    <md-button class="md-raised md-primary buttonLarge"
                               ng-click="group.show=!group.show; tempName = group.name">
                        {{ group.name }}
                    </md-button>

                    <div ng-show="group.show">

                        <h3>Group Type: </h3>

                        <p>{{group.type}}</p>

                        <h3>Group Description:</h3>

                        <p>{{group.description}}</p>

                        <md-button ng-click="leaveGroup(tempName)" class="md-raised md-primary buttonLarge">Leave
                            Group
                        </md-button>
                    </div>
                </div>


            </div>

            <md-button class="md-raised md-primary buttonLarge" ng-click="addNewBool=!addNewBool">Add Groups</md-button>
            <div ng-show="addNewBool">
                <md-input-container flex>
                    <label>Name of New Group</label>
                    <input type="text" ng-model="newGroupName">
                </md-input-container>

                <md-select placeholder="Type" ng-model="newGroupType">
                    <md-option data-ng-repeat="type in types" value="{{type.abbrev}}">
                        {{type.abbrev}}
                    </md-option>
                </md-select>

                <md-input-container flex>
                    <label>Description</label>
                    <input type="text" ng-model="newGroupDesc">
                </md-input-container>

                <md-button ng-click="submit()" class="md-raised md-primary buttonLarge">Submit</md-button>
            </div>
        </md-content>
    </div>
</div>

</body>